.cultural-list-img-wrap {
  width: 800px;
  margin: 30px auto;
}

.cultural-list-item-wrap {
  margin: 50px 0 50px 0;
}

.cultural-lits-item-title {
  display: flex;
  align-items: center;
}

.item-title-text {
  font-size: 22px;
  font-weight: bold;
  width: 60px;
}
.last-item {
  display: block;
}

.link-width {
  width: 100px;
}
