.home-total-wrap {
  width: 1000px;
  margin: 50px auto;
  background-image: url("../../public/img/home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.home-total-wrap > div:first-child {
  background-color: rgba(17, 17, 17, 0.7);
}

.home-text-wrap {
  height: 65%;
  margin: 0 auto;
  padding: 40px 20px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.home-btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.home-btn-wrap a {
  text-decoration: none;
  margin-right: 20px;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: steelblue;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
