img {
  width: 100%;
  height: 100%;
}

a {
  color: black;
  text-decoration: underline;
}
a:hover {
  color: red;
}
.nav-header-wrap {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrap {
  width: 200px;
}
.nav-header-center-wrap {
  display: flex;
  margin-top: 30px;
  margin-left: 180px;
  line-height: 40px;
}

.nav-header-center-wrap div {
  width: 300px;
  height: 50px;
}

.nav-header-center-wrap input {
  width: 100%;
  height: 30px;
  outline: 0;
  border: 1px solid rgb(182, 179, 179);
  border-radius: 5px;
}

.nav-header-center-btn button {
  margin-left: 10px;
  width: 50px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.serachIcon {
  font-size: 24px;
  cursor: pointer;
  color: rgb(182, 179, 179);
}

.nav-header-right-wrap {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  height: 50px;
  align-items: center;
  line-height: 25px;
}

.nav-header-right-wrap div {
  cursor: pointer;
  margin-right: 15px;
  font-size: 18px;
  width: 80px;
}

.nav-header-right-wrap div:nth-child(2) {
  font-size: 32px;
  color: red;
}
.nav-header-right-wrap div:nth-child(3) {
  font-size: 30px;
  color: rgb(245, 75, 168);
}
.nav-header-right-wrap div:nth-child(4) {
  font-size: 30px;
  color: rgb(3, 3, 3);
}
.nav-header-right-wrap div:nth-child(5) {
  font-size: 30px;
  color: rgb(52, 112, 241);
}

/* header css end */

.nav-wrap {
  margin-top: 20px;
  padding-top: 25px;
  background-color: #f7f7f7;
  height: 80px;
  text-align: center;
}

.nav-wrap a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 80px;
}

/* navbar css end */

.list-icon-wrap {
  width: 1300px;
  margin: 15px auto;
  display: flex;
  justify-content: flex-end;
}

.cultural-list-view {
  font-size: 28px;
}

.cultural-item-wrap {
  width: 1300px;
  height: 550px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px 20px 20px 40px;
  border: 1px solid #f7f7f7;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.cultural-title-wrap {
  width: 520px;
  padding-left: 15px;
}

.slide-btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.slide-btn-wrap button {
  margin: 10px;
  font-size: 16px;
  line-height: 8px;
  background-color: rgb(218, 214, 210);
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.cultural-items {
  width: 1320px;
  display: flex;
}

.cultural-img-wrap {
  width: 600px;
  height: 500px;
}

.cultural-title-wrap {
  width: 500px;
  margin-left: 50px;
}

.cultural-title-wrap h3 {
  font-size: 32px;
}

.align-center {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title-bold {
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.cultural-item-content-wrap {
  margin-top: 30px;
}

.cultural-list-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 1300px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px 20px 20px 40px;
  border: 1px solid #f7f7f7;
}

.cultural-list-img-wrap {
  width: 800px;
  margin: 30px auto;
}

.cultural-list-item-wrap {
  margin: 50px 0 50px 0;
}

.link-width {
  width: 100px;
}
